{% extends 'static.html' %}
{% import 'profile.html' as profile %}
{% block body %}
<div id="main" class="site-main container_16">
			<div class="inner">
				<div id="primary" class="grid_11 suffix_1">
					<article class="single">
						
						<div class="entry-content">
							
							<div class="long-description">
                                                            
                                                            
                                                            <h3>Share your thoughts:</h3><br />
								<form action="{{ url_for('post', id=session.id) }}" id="contact-form" method="post">

									<p>
										<label for="title"></label>
										<input class="radius" type="text" name="title" id="title" value="" placeholder="Post Title*" required/>
										
										<span class="clear"></span>
									</p>
										<input class="radius" type="hidden" name="uid" id="title" value="{{ session.id }}" placeholder="Post Title*" required/>									
									<p>
										<label for="content"></label>
										<textarea class="contactme-text required requiredField radius" name="content" cols="10" rows="10" placeholder="Post Contents" required="required"></textarea>
										<span class="clear"></span>
									</p>
									<p>
										<input  class="buttons radius send" value="Post It!" type="submit"></input >
                                        <h6> {{ param['msg'] }} </h6>
									</p>
								</form>
	
							
							<div class="clear"></div>
							
						</div>

						<div class="clear"></div>
					
					</article>

					
				</div>
	
				<div id="secondary" class="grid_4 widget-area" role="complementary">

            
                {% call profile.render_panel() %}
                {% endcall %}

				</div>
				<div class="clear"></div>
			</div>
		</div>
    {% endblock %}